<div class="left-container">
	<h2 class="title-text index-title-text">Recent Questions</h2>
	<ul>
		<% @questions.each do |question| %>
			<%= render "question_row", question: question %>
		<% end %>
	</ul>
</div>