<div class="group">
	<div class="left-container">
		<form action="<%= questions_url %>" method="POST">
			<%= auth_token %>
	
			<label class="form-title-text">Title</label>
				<input type="text" name="question[question_name]" value="<%= @question.question_name %>" placeholder="What's your question? Be specific." class="question-title-input">
			<br>
			<label class="form-title-text">Body</label>
				<textarea name="question[question_body]" value="<%= @question.question_body %>" class="question-textarea"></textarea>
			<br>
	
			<button class="submission-button">Post Your Question</button>
		</form>
	</div>
</div>