/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Setting Defaults */
html, body, header, div, ul, li, h1, h2, h3, h4, h5, p, a, option, br, hr {
	padding: 0;
	margin: 0;
	border: 0;
	font-family: inherit;
	-webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.008);
}

body {
	font-family: "HelveticaNeue-Light", Helvetica, Arial, sans-serif;
}

a {
	text-decoration: none;
	color: #0080c6;
}

button, select, option, input, textarea {
	padding: 0; 
	margin: 0;
	border: 0;
	-webkit-appearance: none;
	background-color: none;
	font-family: inherit;
}


button:focus {
	outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
	-webkit-appearance: none;
}

input::-webkit-calendar-picker-indicator {
  display: none;
}

input, textarea{
	-webkit-user-select: none;
}

img {
	display: block;
}

ul {
	list-style: none;
}

label {
	display: block;
}
