/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Setting Defaults */
html, body, header, div, ul, li, h1, h2, h3, h4, h5, p, a, option, br, hr {
	padding: 0;
	margin: 0;
	border: 0;
	font-family: inherit;
	-webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.008);
}

body {
	font-family: Trebuchet MS,Liberation Sans,DejaVu Sans,sans-serif;
}

a {
	text-decoration: none;
	color: #000;
}

button, select, option, input, textarea {
	padding: 0; 
	margin: 0;
	border: 0;
	-webkit-appearance: none;
	background-color: transparent;
	font-family: inherit;
}


button:focus {
	outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
	-webkit-appearance: none;
}

input::-webkit-calendar-picker-indicator {
  display: none;
}

input, textarea{
	-webkit-user-select: none;
}


ul {
	list-style: none;
}

label {
	display: block;
}

/* Clearfix */

.group:after {
	content: "";
	display: block;
	clear:both;
}

/* General Layout Styles */
.left-container {
	width: 720px;
	padding: 0 20px 0 0;
	float: left;
}

.right-container {
	width: 220px;
	padding: 0 10px;
	float: left;
}



/* Navigation Bar Styles */
.nav {
	width: 980px;
	margin: 20px auto;
}

.main {
	width: 980px;
	margin: auto;
}

.logo-image {
	display: inline-block;
	height: 70px;
	width: auto;
	margin-bottom: -8px;
	margin-left: -12px;
}

.logo-text {
	display: inline-block;
	font-weight: 100;
	font-size: 32px;
}

.logo-text strong { 
	font-weight: 1000;
}

.new-question-link {
	display: inline-block;
	background-color: #aaa;
	font-family: arial, sans-serif;
	font-size: 18px;
	padding: 5px 10px;
	color: white;
	margin: 30px 0;
}

.new-question-link:hover {
	cursor: pointer;
	background-color: #fdc435;
}


/* Error Message Styles */
.error-messages p{
	color: red;
}



/* Index Page styles*/

.title-text {
	border-bottom: 1px solid #ccc;
	padding: 5px 0;
}

.index-title-text {
	font-size: 20px;
}

.stats-container {
	float: left;
	width: 170px;
}

.question-container {
	float: left;
	width: 550px;
}

.stats-container p {
	text-align: center;
}

.answers-count-container {
	float: left;
	width: 85px;
}

.answers-count-container p {
	color: #9a4444;
}

.votes-count-container {
	float: left;
	width: 85px;
}

.votes-count-container p {
	color: #666;
}

.question-link {
	color: #07c;
	font-weight: 800;
	font-size: 18px;
}

.time-ago-text {
	font-size: 14px;
	color: #999;
	text-align: right;
}

.question-row {
	padding: 10px 0;
	border-bottom: 1px solid #eee;
}



/* Show Page Styles*/
.question-title-text {
	font-size: 24px;
}

.answer-title-text {
	font-size: 20px;
}

.upvote-sidebar-container {
	float: left;
	width: 60px;
}

.upvote-sidebar-container p {
	font-size: 26px;
	color: #666;
	text-align: center;
}

.content-container {
	float: left;
	width: 660px;
}

.content-container p {
	font-size: 14px;
	font-family: arial, sans-serif;
	line-height: 1.3;
}

.show-question-row {
	padding: 30px 0;
}

.show-answer-row {
	border-bottom: 1px solid #ccc;
	padding: 30px 0;
}

.upvote-button {
	color: #999;
	font-size: 20px;
	transform:scale(1.4,1);
	margin-top: -8px;
	margin-left: 11px;
}

.upvote-button:hover {
	color: #666;
	cursor: pointer;
}

.answer-textarea {
	width: 670px;
	height: 200px;
	border: 1px solid #ccc;
	font-size: 16px;
	font-family: arial, sans-serif;
	line-height: 1.3;
	margin: auto;
}

.form-title-text {
	font-size: 20px;
	padding: 20px 0;
}

.submission-button {
	font-size: 20px;
	font-weight: 800;
	font-family: arial, sans-serif;
	background-color: #333;
	color: white;
	padding: 5px 10px;
	margin: 20px 0;
}

.submission-button:hover {
	background-color: #111;
	cursor: pointer;
}


/* New Question Page Styles */

.question-title-input {
	width: 660px;
	border: 1px solid #ccc;
	font-size: 16px;
	padding: 2px;
	line-height: 1.3;
	font-family: arial, sans-serif;
}

.question-textarea {
	width: 660px;
	height: 200px;
	border: 1px solid #ccc;
	font-size: 16px;
	font-family: arial, sans-serif;
	line-height: 1.3;
	padding: 2px;
	margin: auto;
}

